:root {
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 4rem;
    --spacing-xl: 8rem;
    --spacing-xxl: 16rem;

    --background-color: #f7f8fd;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body, button, input, textarea, p, span {
    margin: 0;
    padding: 0;
    font-family: "Arial", Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

body {
    background: var(--background-color);
    width: 100%;
    box-sizing: border-box;
}